{% extends "vista/assets/HTML/base.html" %}

{% block title %}Crear Evento{% endblock %}

{% block content %}
    <h1 class="mb-4">Crear Evento</h1>
    {% set action_url = 'administrador.crear_evento' %}
    {% set button_text = 'Crear Evento' %}
    {% set nombre = '' %}
    {% set descripcion = '' %}
    {% set autores = '' %}
    {% set responsables = '' %}
    {% set resumen = '' %}
    {% set datos = '' %}
    {% set conclusion = '' %}
    {% set num_pag = '' %}
    
    {% include 'vista/assets/HTML/form_evento.html' %}
{% endblock %}
